<div style="margin-left: 15px;background-color: rgb(26,26,26); border-color: rgb(17,17,17);">
    <div style="color: whitesmoke;font-family:helvetica;font-size: 30px; padding-left: 10px; padding-top: 5px;">
        <b>Consultar</b></div>
    <p-table #dt [columns]="cols" [value]="transferView" [paginator]="true" [rows]="10">
        <ng-template pTemplate="caption">
            <div style="text-align: right">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="50" placeholder="Filtro Global"
                    (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
                <th style="width: 115px;">
                    Acciones
                </th>
            </tr>

            <tr>
                <th *ngFor="let col of columns" [ngSwitch]="col.field">
                    <input *ngSwitchCase="'cantidadEnviada'" pInputText type="number"
                        (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                    <input *ngSwitchCase="'cantidadRecibida'" pInputText type="number"
                        (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                    <input *ngSwitchCase="'idCuentaOrigen'" pInputText type="text"
                        (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                    <input *ngSwitchCase="'idCuentaDestino'" pInputText type="text"
                        (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">

                </th>
                <th>

                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
                <td *ngFor="let col of columns">
                    {{rowData[col.field]}}
                </td>
                <td style="vertical-align: middle;">
                    <button style="align-self: left; margin-left:10px ;" pButton icon="pi pi-trash"
                        (click)="eliminarDatos(rowData)"></button>
                </td>

            </tr>
        </ng-template>
    </p-table>
</div>
<p-toast [style]="{marginTop: '80px'}"></p-toast>
<p-confirmDialog header="Confirmación" icon="pi pi-exclamation-triangle"></p-confirmDialog>