
<div style="margin-left: 15px;background-color: rgb(26,26,26); border-color: rgb(17,17,17);">
    <div style="color: whitesmoke;font-family:helvetica;font-size: 30px; padding-left: 10px; padding-top: 5px;">
        <b>Registrar</b></div>
    <p-card >
        <br>
        <div class="ui-g" style="border-color: rgb(17,17,17);">
            <form [formGroup]="formGroup" (submit)="saveData( )">
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    <p-dropdown [(ngModel)] = 'idCuentaOrigen' [options]="listaCuentas" formControlName="idCuentaOrigen">
                        <ng-template let-item pTemplate="selectedItem">
                            {{item.label}}
                        </ng-template>
                    </p-dropdown>
                    <p-message severity="error" text="Error: origen y destino iguales" *ngIf="checarSiNoSonIguales()"></p-message>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    <span class="ui-float-label">
                        <input id="float-input" required type="number" step="1000" pattern="" size="40"
                            formControlName="cantidadEnviada" pInputText [(ngModel)]="selectedCantidadEnviada" (input) = "generarRecibida()">
                        <label for="float-input">Cantidad Enviada</label>
                    </span>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    <p-dropdown [(ngModel)] = 'idCuentaDestino' [options]="listaCuentas" formControlName="idCuentaDestino">
                        <ng-template let-item pTemplate="selectedItem">
                            {{item.label}}
                        </ng-template>
                    </p-dropdown>
                    <p-message severity="error" text="Error: origen y destino iguales" *ngIf="checarSiNoSonIguales()"></p-message>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    <span class="ui-float-label">
                        <input id="float-input" required type="number" step="1000" pattern="" size="40"
                             formControlName="cantidadRecibida" pInputText [(ngModel)]="selectedCantidadRecibida">
                        <label for="float-input">Cantidad recibida</label>
                    </span>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-12">
                    <button [disabled] ="formGroup.invalid" pButton  (click)="saveData()" type="button" label="Enviar"
                        class="ui-button-success"></button>
                </div>
            </form>
        </div>
    </p-card>
</div>

<!--<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>-->
<p-toast [style]="{marginTop: '80px'}"></p-toast>
<!--"-->